<html>

<head>
    <title>
        Voice Controlled Music App.
    </title>
    <link rel="stylesheet" type="text/css" href="assets/register.css">
</head>

<body>
    <header class="header">
        <a href="#"><img id="musicicon" src="assets/music-player.png" alt="music-player-icon"></a>
        <h2 class="headtext">Voice Controlled Music Player</h2>
        <nav>
            <div class="nav">
                <ul class="ul">
                    <a href="#">Home</a>
                    <a href="#">SignUp</a>
                    <a href="#">Login</a>
                    <a href="#">Top Tracks</a>
                    <a href="#">Recommended</a>
                </ul>
            </div>
        </nav>
    </header>

    <% if(error){ %>
        <center>
            <h3 class="msg">Username
                <%= error.username %> has been taken. Try another one.</h3>
        </center>
        <% } %>

            <% if(errpass){ %>
                <center>
                    <h3 class="msg">
                        <%= errpass %>
                    </h3>
                </center>
                <% } %>

                    <form class="form" method="POST" action="/register">
                        <div class="rect">
                            <input type="text" placeholder="Username" id="username" class="namefield" name="username" required><br/>
                            <input type="password" placeholder="Password" class="passfield" name="password" required>
                            <input type="password" class="confirm" placeholder="confirm password" class="confirm" name="confirm" required>
                            <input type="date" value="2000-01-01" name="dob" id="dob" required>
                            <input type="submit" class="submit"><br>
                            <a href="# " class="forgot ">forgot password??</a>
                        </div>
                    </form>
</body>

</html>